@media(max-width: 360px){
    #header{
        display: block;
    }
    #comSelo{
        display: block;
        font-size: 17px;
        margin-left: 153px;
    }
    #selin{
        margin-left: -73px;
    }
    #introducao{
        margin-left: 0px;
    }
    .li-intro{
        margin: 8px;
        border-radius: 13px;
        padding: 4px;
        background-color: rgb(19, 18, 18);
        list-style: none;
    }
    #bg1, #bg2{
        margin-left: -13px;
        width: 307px;
        height: 184px;
    }
    .dashboard{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #reconhecimento{
        margin-top: 1px;
    }
    #duopara{
        display: block;
        font-size: 17px;
        margin-left: -2px;
        display: grid;
        grid-template-columns: repeat(2, 327px)
    }
    .dashboard-section{
        display: block;
    font-size: 18px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(1, 309px);
    }
    #h3DoBene{
        margin-left: 0px;
    }
    ul{
        margin-left: -47px;
    }
    
    #parceiros{
        margin-top: 0px;
    }
    #megaSelo{
        margin-left: -51px;
    }
    #section1{
        display: none;
    }
    .colaboradores ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


@media(max-width: 768px){
    #header{
        display: block;
    }
    #comSelo{
        display: block;
        font-size: 17px;
        margin-left: 153px;
    }
    #selin{
        margin-left: -73px;
    }
    #introducao{
        margin-left: 0px;
    }
    .li-intro{
        margin: 8px;
        border-radius: 13px;
        padding: 4px;
        background-color: rgb(19, 18, 18);
        list-style: none;
    }
    #bg1, #bg2{
        margin-left: -13px;
        width: 377px;
        height: 184px;
    }
    .dashboard{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #reconhecimento{
        margin-top: 1px;
    }
    #duopara{
        display: block;
        font-size: 17px;
        grid-template-columns: repeat(2, 327px)
    }
    .dashboard-section{
        display: block;
    font-size: 18px;
    margin-left: 0px;
    display: grid;
    }
    #h3DoBene{
        margin-left: 0px;
    }
    ul{
        margin-left: -47px;
    }
    
    #parceiros{
        margin-top: 0px;
    }
    #megaSelo{
        margin-left: -51px;
    }
    #section1{
        display: none;
    }
    .colaboradores ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
